@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

.content {
    background-color: grey;
    color: white;
    padding: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2rem;
}

.game {
    display: flex;
    flex-direction: row;
}

.cell {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 54px;
    font-weight: bold;
    line-height: 34px;
    height: 100px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 100px;
}