@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 10px 10px -10px gray;
}
.nav-logo {
    width: 60px;
}
.nav-items {
    list-style: none;
    display: flex;
}
.nav-items > li {
    padding: 10px;
}
.footerbox {
    background-color: grey;
    color: white;
    padding: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2rem;
}
